* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header-area {
    background-color: transparent;
    margin-bottom: -88px;
    padding: 12px 0;
}
.header-wrapper {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left .logo {
    margin-right: 20px;
}
.header-left .main-menu ul {
    list-style: none;
}
.header-left .main-menu ul li{
    display: inline;
}
.header-left .main-menu ul li a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 10px;
    margin: 0 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 3px solid transparent;
    transition: 0.5s all;
}
.header-left .main-menu ul li.active a {
    color: #f90132;
    border-bottom: 3px solid #f90132;
}
.header-left .main-menu ul li:hover a {
    color: #f90132;
    border-bottom: 3px solid #f90132;
}


.header-right {
    display: flex;
    align-items: center;
}
.social-share {
    margin-right: 50px;
}
.social-share ul{
    list-style: none;
}
.social-share ul li{
    display: inline;
    margin: 0px 6px;
}
.social-share ul li a { 
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    transition: 0.5s all;
}
.social-share ul li:hover a {
    color: #f90132;
}
.social-share ul li a i{
    font-size: 18px;
}

.header-btn button {
    padding: 12px 20px;
    color: #ffffff;
    border: 2px solid #464343;
    background: transparent;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.5s all;
}
.header-btn button:hover {
    background-color: #f90132;
    border: 2px solid #f90132;
    margin-top: -4px;
}

.home-area {
    padding: 150px 0;
    padding-top: 238px;
    background-image: url(images/bg-image-28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.home-wrapper {
    width: 90%;
    margin: auto;
}
.home-left {
    width: 50%;
}
.welcome-text h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 4px;
    color: #9295a4;
    margin-bottom: 30px;
}
.welcome-text h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: bold;
}
#dynamic-text {
    margin-top: 10px;
    color: #f90132;
}
.welcome-text h2 {
    text-transform: capitalize;
    font-size: 40px;
    color: #ffffff;
}









.footer-area {
    background-color: #090909;
    padding: 20px 0;
}
.footer-wrapper {
    width: 90%;
    margin: auto;
}
.footer-row {
    display: flex;
    align-items: center;
}
.footer-row .footer-col {
    width: 33.33%;
}
.footer-logo { 
    margin: 0 0;
}
.f-social-share {
    text-align: center;
}
.f-social-share ul {
    list-style: none;
}
.f-social-share ul li {
    display: inline;
    margin: 0px 6px;
}
.f-social-share ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    color: #989ba6;
    border: 2px solid #989ba6;
    border-radius: 50%;
    transition: 0.5s all;
}
.f-social-share ul li a i {
    position: absolute;
    font-size: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   
}

.f-social-share ul li:hover a{
    background-color: #f90132;
    border: 2px solid #f90132;
    color: #ffffff;
}
.footer-text {
    text-align: right;
}
.footer-text p {
    color: #ffffff;
    font-size: 14px;
}